---
import data from "../../../data/glossaire-design-ux/data.yaml";
import Grid from "../../@common/Grid.astro";
import Letter from "./Letter.astro";
import Icon from "../../@common/Icon.astro";
import ButtonCopyText from "../../ButtonCopyText.astro";

const totalDefinitions = data.length;
const allLetters = [
  "a",
  "b",
  "c",
  "d",
  "e",
  "f",
  "g",
  "h",
  "i",
  "j",
  "k",
  "l",
  "m",
  "n",
  "o",
  "p",
  "q",
  "r",
  "s",
  "t",
  "u",
  "v",
  "w",
  "x",
  "y",
  "z",
];

const groupedDefinitions = new Map();

for (const definition of data) {
  const letter = definition.term
    .at(0)
    .toLowerCase()
    .normalize("NFD")
    .replace(/[\u0300-\u036f]/g, "");

  if (!groupedDefinitions.has(letter)) {
    groupedDefinitions.set(letter, new Set());
  }

  const letterGroup = groupedDefinitions.get(letter);

  letterGroup.add({
    term: definition.term,
    alternative: definition.alternative,
    slug: definition.term
      .toLowerCase()
      .trim()
      .normalize("NFD")
      .replace(/[\u0300-\u036f]/g, "")
      .replace(/[^a-z0-9\s-]/g, " ")
      .trim()
      .replace(/[\s-]+/g, "-"),
    content: definition.content,
  });
}

const currentPath = new URL(Astro.url.pathname, Astro.site);
---

<section>
  <div class="sticky-letters hidden sticky top-[83px] bg-surface1">
    <div class="hidden 2xl:block container">
      <Grid>
        <div class="2xl:col-span-full py-4 border-b border-neutral2">
          <ul class="flex justify-between">
            {
              allLetters.map((letter) => {
                return (
                  <li class="sticky-letter" data-letter={letter}>
                    <Letter
                      letter={letter}
                      hasDefinitions={groupedDefinitions.has(letter)}
                    />
                  </li>
                );
              })
            }
          </ul>
        </div>
      </Grid>
    </div>
  </div>

  <div class="container">
    <Grid>
      <div
        class="col-span-full 2xl:col-start-2 2xl:col-span-10 flex flex-col gap-5 mb-[50px] 2xl:mb-[140px]"
      >
        <h2 class="text-headline-medium text-neutral1">
          {totalDefinitions} définitions de l’UX design
        </h2>
        <ul class="hidden 2xl:flex letters flex-wrap gap-x-[7px]">
          {
            allLetters.map((letter) => {
              return (
                <li class="pb-[15px]">
                  <Letter
                    letter={letter}
                    hasDefinitions={groupedDefinitions.has(letter)}
                  />
                </li>
              );
            })
          }
        </ul>
      </div>

      <div class="col-span-full 2xl:col-start-2 2xl:col-span-8">
        <div class="space-y-[50px] 2xl:space-y-[100px]">
          {
            Array.from(groupedDefinitions.keys()).map((letter) => {
              return (
                <div data-letter-section={letter} class="letter-section">
                  <p
                    id={`letter-${letter}`}
                    class="mb-6 block text-headline-extra-large sm:text-headline-large uppercase 2xl:scroll-mt-[190px]"
                  >
                    {letter}
                  </p>
                  <div class="flex flex-col gap-5">
                    {Array.from(groupedDefinitions.get(letter)).map(
                      (definition) => {
                        return (
                          <div class="bg-neutral4 rounded-[26px]">
                            <details>
                              <summary class="px-5 py-4 sm:p-8 flex items-center justify-between gap-1.5 cursor-pointer">
                                <h3
                                  id={definition.slug}
                                  class="text-headline-small scroll-mt-[200px]"
                                >
                                  <span>{definition.term}</span>&nbsp;
                                  {definition.alternative && (
                                    <>
                                      <br />
                                      {definition.alternative}
                                    </>
                                  )}
                                </h3>
                                <div class="flex items-center gap-1 h-[34px] px-2 sm:px-4 bg-surface5 rounded-[100px] text-label-small">
                                  <span class="hidden sm:inline open">
                                    Ouvrir
                                  </span>

                                  <span class="hidden sm:inline close">
                                    Fermer
                                  </span>

                                  <Icon
                                    name="expand_more"
                                    width={32}
                                    height={32}
                                  />
                                </div>
                              </summary>
                              <div class="flex flex-col gap-8 px-5 py-4 sm:p-8 pt-0">
                                <p class="text-body-medium">
                                  {definition.content}
                                </p>

                                <ButtonCopyText
                                  type="secondary"
                                  textToCopy={`${currentPath}#${definition.slug}`}
                                  toastCopySuccessText="L’URL a été copiée dans votre presse-papiers !"
                                >
                                  Copier notre adresse email dans votre
                                  presse-papiers
                                </ButtonCopyText>
                              </div>
                            </details>
                          </div>
                        );
                      },
                    )}
                  </div>
                </div>
              );
            })
          }
        </div>
      </div>

      <div
        class="col-span-full 2xl:col-start-2 2xl:col-span-7 mt-[50px] 2xl:mt-40"
      >
        <p class="text-body-medium">
          Nous espérons que ce glossaire vous aide à mieux comprendre ce qui se
          cache derrière le jargon de l’UX design et ses anglicismes. N’hésitez
          pas à nous contacter si vous pensez qu’une définition manque à l’appel
          ou pourrait être améliorée.
        </p>
      </div>
    </Grid>
  </div>
</section>

<style>
  .sticky-letter.active :global(a) {
    @apply text-neutral4 bg-primary underline underline-offset-[4px];
  }

  details {
    & :global(svg) {
      @apply fill-primary;
    }

    &:not([open]) {
      .close {
        display: none;
      }
    }

    &[open] {
      & summary :global(svg) {
        transform: scaleY(-1);
      }

      .open {
        display: none;
      }
    }
  }
</style>

<script src="./index.ts"></script>
