---
import "styles/base.css";

import Header from "components/Header/index.astro";
import Toast from "components/Toast.astro";
import TeamUXIn2024Disclaimer from "../components/TeamUXIn2024Disclaimer.astro";

interface Props {
  title: string;
  description: string;
  og_description: string;
  og_title: string;
}

const { title, description, og_description, og_title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="msapplication-TileColor" content="#f5f3eb" />
    <meta name="theme-color" content="#f5f3eb" />
    <meta property="og:title" content={og_title} />
    <meta property="og:site_name" content="Team UX" />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:description" content={og_description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={`${Astro.site}images/sn_share.png`} />
    <link rel="sitemap" href={`${Astro.site}sitemap-index.xml`} />
    <link rel="stylesheet" href="/css/print.css" media="print" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/images/safari-pinned-tab.svg"
      color="#0f24f7"
    />
    <title>{title}</title>
    <style is:inline>
      @font-face {
        font-family: "SatoshiVariable";
        src: url("/fonts/satoshi-variable.woff2") format("woff2");
        font-weight: 500 900;
      }

      html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      body {
        font-family: "SatoshiVariable", "sans-serif";
      }
    </style>
  </head>
  <body>
    <TeamUXIn2024Disclaimer />

    <Header />

    <slot />

    <Toast />

    <style is:global>
      body {
        @apply bg-surface1 text-secondary;
      }

      details {
        & summary {
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;
          list-style: none;

          &::-webkit-details-marker {
            display: none;
          }
        }
      }
    </style>
  </body>
</html>
